a {
  color: white;
}
a:hover {
  color: rgb(191, 191, 191);
}

/*Landing Page*/

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/bg-laptop.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-top: -50px;
  /* margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 80px;
}

@media screen and (max-width: 376px) {
  .landing-inner {
    padding-top: 0px;
  }
}

@media screen and (max-width: 787px) {
  .landing {
    height: 100vh;
  }
}

.dark-overlay {
  background-color: rgba(3, 0, 7, 0.775);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Item classes*/

.remove-btn {
  margin-right: 0.5rem;
}

.item-button {
  background-color: #3d217e; /*purp-darker*/
}
.item-button:hover {
  background-color: #7209b7;/*pink-purp*/
}
.item:hover {
  background-color: #7109b72a !important;
}

/*fade transition*/

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/*Utilities*/

/*PURPLE*/
.bg-purp-darker {
  background-color: #3d217e;
}
.bg-purp-dark {
  background-color: #3c3797;
}
.bg-purp-light {
  background-color: #3b56ce;
}
.bg-purp-lightest {
  background-color: #488bef;
}
.bg-purp-light:hover {
  background-color: #488bef;
}
/*PINK*/
.bg-pink-purp {
  background-color: #7209b7;
}
.bg-pink-purp:hover {
  background-color: #b5179e;
}
.bg-pink-dark {
  background-color: #b5179e;
}
.bg-pink-dark:hover {
  background-color: #f72585;
}
.bg-pink-light {
  background-color: #f72585;
}

.purp-darker {
  color: #3d217e;
}
.purp-darker:hover {
  color: #3b56ce;
}
.purp-light {
  color: #3b56ce;
}
.purp-lightest {
  color: #488bef;
}

/*Layout Utilities*/

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
