a {
  color: white;
}
a:hover {
  color: rgb(191, 191, 191);
}

/*Landing Page*/

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/bg-laptop.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-top: -50px;
  /* margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 80px;
}

@media screen and (max-width: 376px) {
  .landing-inner{
    padding-top: 0px;
  }
}

@media screen and (max-width: 787px) {
  .landing{
    height: 100vh;
  }
}

.dark-overlay {
  background-color: rgba(3, 0, 7, 0.775);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Item classes*/

.remove-btn {
  margin-right: 0.5rem;
}

/*fade transition*/

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/*Utilities*/

.bg-purp-darker{
  background-color: #3d217e;
}
.bg-purp-dark{
  background-color: #4741b6;
}
.bg-purp-light{
  background-color: #4361ee;
}
.bg-purp-lightest{
  background-color: #4895ef;
}
.bg-purp-light:hover{
  background-color: #4895ef;
}


.purp-lightest{
  color: #4895ef;
}

/*Layout Utilities*/

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}