/*Landing Page*/

img {
  width: 100%;
}

.landing a {
  color: white;
}
.landing a:hover {
  color: rgb(191, 191, 191);
}

.landing {
  position: relative;
  background: url("./img/bg-laptop.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  /* margin-top: -50px; */
  /* margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 20vh;
}

.landing-inner a {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  .landing-inner {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 574px) {
  .landing-inner h1 {
    font-size: 4rem;
  }
  .landing-inner p {
    font-size: medium;
  }
  .landing-inner a {
    font-size: small;
  }
}

.dark-overlay {
  background-color: rgba(3, 0, 7, 0.775);
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

/*Item classes*/

.remove-btn {
  margin-right: 0.5rem;
}

.item-button {
  background-color: #3d217e; /*purp-darker*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.item-button:hover {
  background-color: #7209b7; /*pink-purp*/
}
.item:hover {
  background-color: #7109b72a !important;
}

/*fade transition*/

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/*Utilities*/

/*PURPLE*/
.bg-purp-darker {
  background-color: #3d217e;
  border: None;
}
.bg-purp-dark {
  background-color: #3c3797;
  border: None;
}
.bg-purp-light {
  background-color: #3b56ce;
  border: None;
}
.bg-purp-lightest {
  background-color: #488bef;
  border: None;
}
.bg-purp-light:hover {
  background-color: #488bef;
  border: None;
}
/*PINK*/
.bg-pink-purp {
  background-color: #7209b7;
  border: None;
}
.bg-pink-purp:hover,
.bg-pink-purp:focus,
.bg-pink-purp:active {
  background-color: #b5179e;
  border: None;
}
.bg-pink-dark {
  background-color: #b5179e;
  border: None;
}
.bg-pink-dark:hover,
.bg-pink-dark:focus,
.bg-pink-dark:active {
  background-color: #f72585;
  border: None;
}
.bg-pink-light {
  background-color: #f72585;
  border: None;
}

.purp-darker {
  color: #3d217e;
}
.purp-darker:hover,
.purp-darker:focus,
.purp-darker:active {
  color: #3b56ce;
}
.purp-light {
  color: #3b56ce;
}
.purp-lightest {
  color: #488bef;
}

/*Layout Utilities*/

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*User landing*/
li.nav-item .dropdown.show .dropdown-menu.show a.dropdown-item:hover,
li.nav-item .dropdown.show .dropdown-menu.show a.dropdown-item:focus {
  background-color: #7109b72f !important; /*pink purp halka*/
  outline: 0;
}

li.nav-item .dropdown.show .dropdown-menu.show a.dropdown-item:active {
  background-color: rgba(113, 9, 183, 0.316) !important;
  /*pink purp halka -- darker*/
  outline: 0;
}

/*Carousel*/

.carousel-component .carousel-item {
  background-color: black;
}
.carousel-component .carousel-item img {
  height: 60vh;
  opacity: 60%;
  background-color: black;
}

.carousel-component .carousel-caption {
  top: 30%;
  bottom: auto;
  display: block !important;
}
.carousel-component .carousel-caption h3 {
  font-size: 4rem;
  font-family: "Alex Brush", cursive;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.892);
}

@media screen and (max-width: 700px) {
  .carousel-component .carousel-caption p {
    font-size: smaller;
  }
  .carousel-component .carousel-caption h3 {
    font-size: 2.5rem;
  }
}

/*Progress Bars*/

.progressbar-styles {
  height: 1.5rem;
  box-shadow: 5px 3px 6px #777777;
}
.progressbar-link:hover .progressbar-styles {
  box-shadow: 5px 3px 6px #353535;
}

.progressbar-link {
  color: black;
}
.progressbar-link:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.bg-custom-light {
  /* background-color: white; */
}

.bg-custom-light:hover {
  background-color: rgba(241, 230, 250, 0.768);
}

/*Cards*/
.cursive {
  font-family: "Alex Brush", cursive;
}

h1.cursive {
  text-shadow: 1px 1px 5px #7209b7;
}

.card-container h1.cursive {
  font-size: 4.5rem;
}

@media screen and (max-width: 700px) {
  .card-container h1.cursive {
    font-size: 2.5rem;
  }
}

.card-styles {
  box-shadow: 6px 10px 10px #878787;
}

.card-styles:hover {
  box-shadow: 6px 10px 10px #353535;
  background-color: rgba(241, 230, 250, 0.768);
}

.card-button {
  background-color: #3d217e; /*purp-darker*/
}
.card-button:hover {
  background-color: #7209b7; /*pink-purp*/
}

.card-button a {
  text-decoration: none;
}

.card-button a:hover {
  color: white;
}

.card-container .carousel-indicators li {
  background-color: #353535;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.card-container .carousel-control-next,
.card-container .carousel-control-prev {
  width: 1rem;
  padding: 0px;
  margin: 0px;
  background-color: #9e9e9e;
}

.card-container .carousel-control-next-icon,
.card-container .carousel-control-prev-icon {
  padding: 0px;
  margin: 0px;
}

/*Settings Page*/
.bg-pink-purp-halka {
  background-color: #7109b72f;
}
.settings a {
  cursor: pointer;
}
.settings .bg-angle {
  background-color: #bfbfbf;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.settings li:hover {
  background-color: #7109b72a;
}

/*Expenses page*/
.edit-icon {
  opacity: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

/*Expenses stats date form*/

@media (max-width: 767px) {
  .form-inline {
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }
  .form-inline > .form-group > .form-control {
    width: 100%;
    margin: 0.5rem 0;
  }
}

/*Pie chart*/

.chart {
  width: 100%;
  height: 500px;
  margin: 1rem 0;
  background-color: #7109b710; /*lighter than .bg-pink-purp-halka*/
}
